
<div class="container">
 
<h1>List</h1>
<div class="result">
<div *ngIf="error">
<button mat-raised-button class="btnCreate" (click)="retry()">Try again</button>
</div>
<div  *ngIf="todoList && error; else new" class="loader">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    


  </div>
  <ng-template #new>
    <button mat-raised-button class="btnCreate" color="pink" routerLink="todo">New task</button>
  </ng-template>

<div *ngFor="let todo of todoList" class="todoItem">
    <h2 class="title">{{todo.task}}</h2>
    <button mat-raised-button class=" btnCreate"[routerLink]="['detail',todo.task]" >Detail</button>
    <button mat-raised-button class="icon" [disabled]="this.todoDisabled == this.todo" (click)="delete(todo)">
          <mat-icon  >delete_outline</mat-icon>
    </button>
</div>
</div></div>