<div class="container">
    <h2>Creation</h2>
    <form [formGroup]="todoForm" (ngSubmit)="create()" class="form">
        <p><mat-form-field class="item">
          <mat-label  for="task">Task :</mat-label>
          <input matInput  id="task" type="text" formControlName="task">
            <span *ngIf="!todoForm.get('task')?.valid && todoForm.get('task')?.dirty">
              Not valid
            </span>
        </mat-form-field></p>
        
        <p><mat-form-field class="item">
          <mat-label  for="description">Description : </mat-label>
          <textarea matInput  id="description" type="text" formControlName="description"></textarea>
        </mat-form-field></p>
        <button mat-raised-button class="btnCreate" color="pink" routerLink='todos'>Return</button>
        <button mat-raised-button [disabled]="!todoForm.valid || disabled" class="btnCreate" color="pink" type="submit">Create</button>
    </form>
      
</div>
