.container{
    height: 400px;
  margin-right: 40px;
  margin-left: 40px;
    border:  rgb(195, 154, 235) solid 2px;
}

h2{
    font-size: 30px;
}

.form{
    margin-left: 20px;
    margin-right: 20px;
}

.item{
    margin-top: 10px;;
    margin-bottom: 10px;
    background-color: rgba(233,190,197,0.5);
    font-size: 18px;
    border: rgb(195, 154, 235) solid 2px;
    width:100%;
    color:rgb(46,39,80);
    font-weight: bold;
}

.btnCreate{
    background-color: rgb(233, 190, 197);
    color: black;
    margin:2px;
}